

.header
  .header__title
    Rental Apartment

.main2
  .main2__title
    検索結果
  .main2__box
    .main2__box__font
    .main2__box__list
      .main2__box__list__title
        天王寺ハイツ
      .main2__box__list__show
        .main2__box__list__show__street
          大阪市天王寺区堀江町12-5
        .main2__box__list__show__station
          JR大阪環状線/天王寺駅　徒歩8分
        .main2__box__list__show__age
          築7年
      .main2__box__list__room-box
        .main2__box__list__room-box__font
        .main2__box__list__room-box__show
          .main2__box__list__room-box__show__floor
            10階
          .main2__box__list__room-box__show__rent
            5.3万円
            %br
            (7000円)
          .main2__box__list__room-box__show__security
            敷金 5万円
            %br
            礼金 10万円
          .main2__box__list__room-box__show__plan
            1K
            %br
            24.27㎡
          .main2__box__list__room-box__show__show-button
            = link_to new_list_path do
              詳細を見る