.header
  .header__title
    Rental Apartment

.main3
  .main3__title
    物件詳細
  .main3__box
    .main3__box__list
      .main3__box__list__title
        天王寺ハイツ
      .main3__box__list__show
        5.3万円 / 共益費:7000円
        %br
        敷金:7万円 / 礼金:10万円
    .main3__box__font-box
      .main3__box__font-box__font
      .main3__box__font-box__show
    .main3__box__show-box
      .main3__box__show-box__street
        .main3__box__show-box__street__1
          所在地
        .main3__box__show-box__street__2
          大阪市天王寺区堀江町12-5
      .main3__box__show-box__station
        .main3__box__show-box__station__1
          駅徒歩
        .main3__box__show-box__station__2
          天王寺駅 徒歩4分
      .main3__box__show-box__plan
        .main3__box__show-box__plan__1
          間取り
        .main3__box__show-box__plan__2
          1K
      .main3__box__show-box__age
        .main3__box__show-box__age__1
          築年数
        .main3__box__show-box__age__2
          築6年
        